@import "tailwindcss";

* {
    font-family: lora;
}

body {
        background-color: #0A0B12;
}

.glow-text {
  color: #FFD700; /* yellow */
  text-shadow: 0.5 0.5 5px #FF4500, 0.5 0.5 2px #FF4500, 0.5 0.5 20px #FF6347;
}

.header {
    padding-top:7rem;
    font-size:4rem;
    text-align: center;
    margin-right:6.5rem; 
}

